{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
<div class="container col-md-8">
    <h1>Liste de sortie</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.id }}</td>
                <td>{{ sortie.quantite }}</td>
                <td>{{ sortie.prix }}</td>
                <td>{{ sortie.date ? sortie.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}" class="btn btn-info">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_sortie_new') }}">Create new</a> #}
</div>
{% endblock %}
