{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
  <div class="container col-md-8">
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="btn btn-info">modifier</a>
                    {# <a href="{{ csrf_token('delete' ~ categorie.id) }}">supprimer</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_categorie_new') }}">Create new</a> #}
</div>
{% endblock %}
